name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            rust_target: x86_64-unknown-linux-gnu
            target: linux_x86_64
          - platform: macos-latest
            rust_target: x86_64-apple-darwin
            target: macos_x86_64
          - platform: macos-latest
            rust_target: aarch64-apple-darwin
            target: macos_aarch64
          - platform: windows-latest
            rust_target: x86_64-pc-windows-msvc
            target: windows_x86_64
          - platform: ubuntu-latest
            rust_target: aarch64-linux-android
            target: aarch64
            mobile: android

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Set short sha
        shell: bash
        run: echo "SHORT_SHA=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV
      - name: Setup Java
        if: matrix.mobile == 'android'
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Android SDK
        if: matrix.mobile == 'android'
        uses: android-actions/setup-android@v3
      - name: Setup Android NDK
        if: matrix.mobile == 'android'
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26d
          link-to-sdk: true
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          target: ${{ matrix.rust_target }}
      - name: install webkit2gtk (ubuntu only)
        if: ${{ matrix.platform == 'ubuntu-latest' || matrix.platform == 'ubuntu-22.04' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: install app dependencies
        run: pnpm install
      - name: Prettier
        run: pnpm prettier
      - name: Lint
        run: pnpm lint
      - name: Build interface
        run: pnpm build
      - name: fmt
        run: cargo fmt --manifest-path src-tauri/Cargo.toml --all -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=src-tauri/Cargo.toml --all-targets -- -D warnings
      - uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRONGHOLD_SALT: ${{ secrets.STRONGHOLD_SALT }}
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        with:
          includeUpdaterJson: false
          uploadUpdaterSignatures: false
          uploadWorkflowArtifacts: true
          #workflowArtifactNamePattern: "Sparus-${{ env.SHORT_SHA }}_[platform]_[arch]-[bundle]"
          mobile: ${{ matrix.mobile }}
          args: "--verbose --debug"
      - uses: ilharp/sign-android-release@v2
        if: matrix.mobile == 'android'
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: src-tauri/gen/android/app/build/outputs/apk/arm64/release/
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"
      - uses: actions/upload-artifact@v5
        if: matrix.mobile == 'android'
        with:
          name: Sparus-${{ env.SHORT_SHA }}-android_${{ matrix.target }}
          if-no-files-found: error
          path: ${{steps.sign_app.outputs.signedFile}}
