name: Build custom launcher

on:
  workflow_dispatch:
    inputs:
      launcher_name:
        description: "Launcher name"
        required: true
        default: "Sparus"
      repository_name:
        description: "Repository name"
        required: true
        default: "Sparus"
      filename:
        description: "Store file"
        required: true
        default: "Sparus.json"
      content:
        description: "Default value for store"
        required: true
        default: '{"game_name": ""}'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-24.04
            rust_target: x86_64-unknown-linux-gnu
            host: linux
          - platform: macos-14
            rust_target: x86_64-apple-darwin
            host: macos_x86_64
          - platform: macos-14
            rust_target: aarch64-apple-darwin
            host: macos_arm64
          - platform: windows-2022
            rust_target: x86_64-pc-windows-msvc
            host: win64

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Create json store
        run: |
          echo '${{ inputs.content }}' > '${{ inputs.filename }}.tmp'
          jq '.' ${{ inputs.filename }}.tmp > src-tauri/${{ inputs.filename }}
      - name: Download Background image and logo
        run: |
          curl --output-dir --fail src/assets -LJO ${{ secrets.STORE_URL }}/${{ inputs.repository_name }}/launcher/DesktopBackground.jpg
          curl --output-dir --fail src-tauri/icons -LJO ${{ secrets.STORE_URL }}/${{ inputs.repository_name }}/launcher/icon.png
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          target: ${{ matrix.rust_target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri/
      - name: install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: ./src-tauri -> target
      - name: install app dependencies
        run: pnpm install
      - name: Generate icons
        run: pnpm tauri icon src-tauri/icons/icon.png
      - name: Prettier
        run: pnpm prettier
      - name: Lint
        run: pnpm lint
      - name: Build interface
        run: pnpm build
      - name: fmt
        run: cargo fmt --manifest-path src-tauri/Cargo.toml --all -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=src-tauri/Cargo.toml --all-targets --all-features -- -D warnings
      - uses: tauri-apps/tauri-action@dev
        id: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRONGHOLD_SALT: ${{ secrets.STRONGHOLD_SALT }}
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        with:
          uploadUpdaterJson: false
          uploadUpdaterSignatures: false
          uploadWorkflowArtifacts: true
          workflowArtifactNamePattern: "${{ inputs.launcher_name }}_[platform]_[arch]_[bundle]"
          args: "--target ${{ matrix.rust_target }}"
      - name: Upload artifacts Binaries to Update Server
        shell: bash
        run: |
          FILES='${{ steps.build.outputs.artifactPaths }}'
          FILES=$(echo "$FILES" | sed 's/^\[//; s/\]$//; s/"//g')
          for f in ${FILES//,/ }; do
           echo "Uploading: $f"
           curl --fail ${{ secrets.STORE_URL }}/${{ inputs.repository_name }}/launcher/binaries/${{ matrix.host }} -F "file=@$f"
          done
