name: "Release"
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            rust_target: x86_64-unknown-linux-gnu
            target: linux_x86_64
          - platform: macos-13
            rust_target: x86_64-apple-darwin
            target: macos_x86_64
          - platform: macos-13
            rust_target: aarch64-apple-darwin
            target: macos_aarch64
          - platform: windows-2022
            rust_target: x86_64-pc-windows-msvc
            target: windows_x86_64
          - platform: ubuntu-latest
            rust_target: aarch64-linux-android
            target: aarch64
            android: true

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v5
      - name: "Build Changelog"
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          mode: "COMMIT"
          failOnError: true
          ignorePreReleases: false
          configuration: ".github/release_note_config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Java
        if: matrix.android
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Android SDK
        if: matrix.android
        uses: android-actions/setup-android@v3
      - name: Setup Android NDK
        if: matrix.android
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26d
          link-to-sdk: true
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          target: ${{ matrix.rust_target }}
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri/
      - name: install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: install app dependencies
        run: pnpm install
      - name: Prettier
        run: pnpm prettier
      - name: Lint
        run: pnpm lint
      - name: Build interface
        run: pnpm build
      - name: fmt
        run: cargo fmt --manifest-path src-tauri/Cargo.toml --all -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=src-tauri/Cargo.toml --all-targets --all-features -- -D warnings
      - uses: Ludea/tauri-build@next
        id: build
        with:
          target: ${{ matrix.android && matrix.target || matrix.rust_target }}
          mobile: ${{ matrix.android }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRONGHOLD_SALT: ${{ secrets.STRONGHOLD_SALT }}
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
      - uses: ilharp/sign-android-release@v2
        if: matrix.android
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: src-tauri/gen/android/app/build/outputs/apk/arm64/release/
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"
      - name: Upload file
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.build_changelog.changelog }}
          files: |
            "${{ join(fromJSON(steps.build.outputs.artifacts), '\n') }}"
            ${{steps.sign_app.outputs.signedFile}}
