name: "Release"
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-24.04
            args: ""
          - platform: macos-14
            args: "--target x86_64-apple-darwin"
          - platform: macos-14
            args: "--target aarch64-apple-darwin"
          - platform: windows-2022
            args: ""
          - platform: ubuntu-latest
            args: "--target aarch64 --split-per-abi"
            target: aarch64
            mobile: android

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Free Disk Space
        if: matrix.mobile == 'android'
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          rm_cmd: "rmz"
          rmz_version: "3.1.1"
      - uses: actions/checkout@v6
      - name: "Build Changelog"
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          mode: "COMMIT"
          failOnError: true
          ignorePreReleases: true
          configuration: ".github/release_note_config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Java
        if: matrix.mobile == 'android'
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"
      - name: Setup Android SDK
        if: matrix.mobile == 'android'
        uses: android-actions/setup-android@v3
      - name: Setup Android NDK
        if: matrix.mobile == 'android'
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26d
          link-to-sdk: true
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}
      - name: install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-24.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: ./src-tauri -> target
      - name: install app dependencies
        run: pnpm install
      - name: Prettier
        run: pnpm prettier
      - name: Lint
        run: pnpm lint
      - name: Build interface
        run: pnpm build
      - name: fmt
        run: cargo fmt --manifest-path src-tauri/Cargo.toml --all -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=src-tauri/Cargo.toml --all-targets --all-features -- -D warnings
      - uses: tauri-apps/tauri-action@dev
        id: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        with:
          releaseBody: ${{ steps.build_changelog.outputs.changelog }}
          uploadUpdaterJson: false
          uploadUpdaterSignatures: false
          tagName: ${{ github.ref_name }}
          mobile: ${{ matrix.mobile }}
          args: ${{ matrix.args }}
      - uses: ilharp/sign-android-release@v2
        if: matrix.mobile == 'android'
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: src-tauri/gen/android/app/build/outputs/apk/arm64/release/
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"
      - name: Upload Mobile assets
        uses: softprops/action-gh-release@v2
        if: matrix.mobile == 'android'
        with:
          body: ${{ steps.build_changelog.outputs.changelog }}
          files: ${{steps.sign_app.outputs.signedFile}}
